@model CategoryModel[]
@{ 
    var colCount = (Model.Length % 2==0 ) ? Model.Length / 2 : Model.Length / 2 + 1;
}

<div class="catalog-tree">

</div>
<div class="catalog-list">
    <div class="row">
        <div class="col-md-6">
            @for (int i = 0; i < colCount; i++)
            {
                var item = Model[i];
                var url = "/catalog" + item.Path + item.Alias;

                <div class="catalog-item">
                    <div><a href="@url">@item.Title</a></div>
                </div>
            }
        </div>
        <div class="col-md-6">
            @for (int i = colCount; i < Model.Length; i++)
            {
                var item = Model[i];
                var url = "/catalog" + item.Path + item.Alias;

                <div class="catalog-item">
                    <div><a href="@url">@item.Title</a></div>
                </div>
            }
        </div>
    </div>
</div>