@model PageViewModel


    <ul class="nav nav-pills">
        @foreach (var item in Model.PageMenu)
            {
                if (item.Menu == "top_menu")
                {
                    String path;
                    String alias;

                    path = item.Path + "/" + item.Alias;
                    alias = "/" + item.Alias;

                    <li @(Request.RawUrl.Contains(@alias) ? "class=act" : "")>
                        <a href="@item.Path@item.Alias/">@item.Title</a>
                    </li>
                }
            }
        @*<li>
            <form id="demo-b"><input id="InputSearch" type="search" placeholder="Поиск"><div id="Loop"></div></form>
        </li>*@
    </ul>