@model MainViewModel

<form>
    <div class="content">
        <h1>Редактор изображений</h1>
        <div>
            <div class="col-md-6">
                <div>
                    <select name="size">
                        <option
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="redaktor"></div>
            </div>
        </div>
    </div>

    @*<div class="dop_info-block"></div>*@

    @* Блок кнопок *@
    <div class="buttons"></div>
    @* //Блок кнопок *@
</form>