@model BasketViewModel

<div class="type-page">

    @*@Html.Partial("services/breadcrumbs")*@
    <h1>Объединение заказов</h1>
    <div class="page-text">
        <div>Добро пожаловать в мастер объединения заказаов.</div>
    </div>
</div>