@model ImportViewModel
@if (Model.UserResolution.Read)
{
    <div class="content">
        <br />
        <br />
        <div id="content"></div>
        <script src="~/Content/dist/bundle.js"></script>
        <link href="~/Content/css/import-react.css" rel="stylesheet" />
    </div>
    <div class="dop_info-block"></div>
    <div class="buttons">
        <label data-action="noPreloader-accept" for="files" class="button icon-sitemap">Загрузить файлы</label>
        @Html.TextBox("upload", null, new { id = "files", type = "file", data_action = "noPreloader-accept", title = "xml-документ", accept = ".xml, .zip", @class = "noplagin button icon-sitemap", multiple = "multiple" })
    </div>
    <script>
        function uploadFile(uploadId) {
            var formData = new FormData($('form')[0]);

            $.ajax({
                url: '/admin/import/fileupload',
                type: 'Post',
                beforeSend: function () { },
                success: function (result) {

                },
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                    }
                    return myXhr;
                },
                error: function () { },
                data: formData,
                cache: false,
                contentType: false,
                processData: false
            });
        }

        $('#files').on("change", function () {
            uploadFile();
        });
    </script>
}