@model ImportViewModel
@if (Model.UserResolution.Read)
{
    <div class="content">
        @Html.TextBox("upload", null, new { type = "file", title = "xml-документ", accept = ".xml" })

        <div id="content"></div>
        <script src="~/dist/bundle.js"></script>
    </div>
    <div class="dop_info-block"></div>
    <div class="buttons">
        <button type="submit" name="action" data-action="noPreloader-accept" value="xml-btn" class="button icon-sitemap">Импортировать</button>
        <button type="submit" name="action" data-action="noPreloader-accept" value="lastprod-btn" class="button icon-sitemap">Продукты</button>
    </div>
}