@model RestoreModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_login.cshtml";
}

<div class="WelcomeContentLeft">
    <div class="LoginCaption">Изменение пароля</div>
    @using (Html.BeginForm("RestorePass", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <div class="WelcomeInfo">
                <p>&nbsp;</p>
            </div>
            <div class="WelcomeBtn">
                <input id="ChangeButton" class="RegButton" type="submit" value="Восстановление пароля" />
                <span class="icon-right-4"></span>
            </div>
        </div>
    }
</div>
<div class="WelcomeContentRight">
    Данная ссылка - недействительна.<br /><br />
    <p>Возможные причины:</p>
    <ul>
        <li>URL, который вы ввели в адресную строку - не полный;</li>
        <li>Ссылка устарела, так как запрос на смену пароля был более 2 чаов назад;</li>
        <li>Ссылка устарела, так как была новая попытка востановления доступа.</li>
    </ul>
</div>