@{ 
     Layout = null; 
}
@model SiteMapModel[]

@if (Model != null)
{
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    </button>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown visible-xs visible-sm">
                    <a href="/catalog/">Каталог</a>
                </li>
                @foreach (var item in Model)
                {
                    string fullPath = item.Path + item.Alias;
                    string _class = (Request.Path == fullPath) ? "class=active" : "";
                    <li @_class>
                        <a href="@fullPath">@item.Title</a>
                    </li>
                }
            </ul>
        </div>
}
