@model List<PageTabsViewModel>

@if (Model != null && Model.Count() > 0)
{
    <ul class="nav nav-pills tabs">
        @foreach (var item in Model)
        {
            string active = (item.Active) ? "active" : null;
            string url = "/" + item.Page;

            if (!String.IsNullOrEmpty(item.Alias))
            {
                url = string.Format("{0}/?tab={1}", url, item.Alias);
            }

            <li class="@active"><a href="@url">@item.Title</a></li>
        }
    </ul>
}
