@model BasketViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>Завершение оформления заказа</h1>
    <div class="page-text">
        <p>
            Заказ <b>№@ViewBag.Num</b> успешно оформлен.
        </p>
        <p>
            Вам на почту отправлено письмо с подробным описанием.
        </p>
        <p>В ближайшее время наши менеджеры свяжутся с Вами для окончательного оформления покупки.</p>
        <p>
            @Html.Raw("Получить дополнительную информацию по заказу Вы можете:<br /> по телефону <b>" + Model.SitesInfo.Phone.Replace("|", " ") + "</b><br /> эл. почте <b>" + Model.SitesInfo.Email.Replace("|", ", ") + "</b>. ")
            @Html.Raw("<p><i>При обращении не забывайте указывать номер заказа.</i></p>")
        </p>
    </div>
</div>