@import url('/Content/fonts/PtSans/ptsans.css');
@import url('/Content/fonts/PtSerif/ptserif.css');
@import url('/Content/fonts/fontello/fontello.css');
@import url('/Content/fonts/OpenSans/opensans.css');


body {
    font-family: Verdana;
    font-size: 14px;
    color: #4c4c4c;
}

.head_block {
    background: #82e3ff url('/Content/img/head.png') bottom center no-repeat;
    padding: 30px 0 20px;
    min-height: 164px;
}
.logo {
    position: relative;
    width: 414px;
}
.logo a {
    display: block;

}
.phone {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
    color: #808080;
}
    .phone span {
        font-size: 28px;
        color: #dd201e;
    }
.menu_block {
    background: #21aedd;
    color: #ffffff;
    font-size: 16px;
}
.menu_block a {
    color: #ffffff;
}

.body_block {
    padding: 50px 0;
}
.prod-catalog {
    background: #fafafa url('/Content/img/catalog.jpg') top right no-repeat;
    border: solid 1px #dadada;
    padding: 30px;
}
.prod-catalog .title {
    font-size: 22px;
    color: #65acda;
    text-transform: uppercase;
}
.footer {
    overflow: hidden;
    padding: 40px 0;
    background: #f2f2f2;
    border-top: solid 1px #dadada;
}