@import url('/Content/fonts/fontello/fontello.css');

body {
    font-family: Verdana;
    font-size: 15px;
    line-height: 1.4em;
    color: #4c4c4c;
}
form {
    margin: 0;
    padding: 0;
}

.scroll-menu {
    display: none;
    background: #65acda;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99998;
    color: #ffffff;
    font-size: 14px;
}
    .scroll-menu a {
        color: #ffffff;
        border-left: solid 1px #65acda;
        border-right: solid 1px #65acda;
    }

    .scroll-menu .nav .active a,
    .scroll-menu .nav a:focus,
    .scroll-menu .nav a:hover {
        background: #49c1e9 !important;
        color: #ffffff;
    }

.head_block {
    background: linear-gradient(to top, #ffffff, #a4e2ff);
}
.clouds {
    background: url('/Content/img/clouds.png') top center repeat-x;
    padding: 30px 0 20px;
}
.logo {
    position: relative;
    float: left;
    width: 263px;
    padding-bottom:10px;
}
    .logo a {
        display: block;
    }

    .logo img {
        width: 100%;
    }
.phone {
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 18px;
    color: #808080;
}
    .phone span {
        font-size: 21px;
        color: #dd201e;
    }
.search-block {
    padding: 26px 30px 10px;
    overflow: hidden;
}
    .search-block input,
    .search-block button {
        display: inline-block;
        margin: 0;
        padding: 13px 20px;
        resize: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 5px;
        outline: none;
        font-size: 18px;
        color: #4c4c4c;
        border: solid 1px;
    }
    .search-block input {
        width: 62%;
        border-color: #acacac;
    }
        .search-block input:focus {
            border-color: #65acda;
        }
    .search-block button {
        border-color: #ffcd00;
        background: #ffcd00;
    }
    .search-block button:hover {
        box-shadow: 2px 3px 20px #cccccc; 
    }
        .search-block button.big-btn {
            margin-left: 3%;
            width: 30%;
        }
        .search-block button.icon-search {
            border-radius: 0 5px 5px 0;
            border-color: #acacac;
            display: none;
        }
/**/
.basket-block {
    position: relative;
    float: right;
    text-align: left;
    padding: 26px 0 10px;
}
.basket-counter {
    font-size: 18px;
    line-height: 20px;
    color: #4c4c4c;
    width: 225px;
    min-height: 49px;
    padding-left: 85px;
    background: url('/Content/img/basket.png') bottom left no-repeat;
}
    .basket-counter:hover {
        background: url('/Content/img/basket_active.png') bottom left no-repeat;
    }
.goods {
    margin-bottom: 5px;
}
.cost {
    color: #e1706f;
}
.basket-empty {
    padding: 12px 0;
}


.menu_block {
    background: #65acda;
    color: #ffffff;
    font-size: 14px;
}
    .menu_block a {
        color: #ffffff;
        border-left: solid 1px #65acda;
        border-right: solid 1px #65acda;
    }
    .menu_block .nav .active a,
    .menu_block .nav a:focus,
    .menu_block .nav a:hover {
        background: #49c1e9 !important;
        color: #ffffff;
    }
.login-block {
    float: right;
}
    .login-block a {
        display: block;
        float: left;
        padding: 15px 5px;
        font-weight: bold;
    }
        .login-block a:hover {
            color: #ffcd00;
        }
.prod-catalog {
    background: #fafafa url('/Content/img/catalog.png') top right no-repeat;
    border: solid 1px #dadada;
    padding: 30px 0 60px;
    margin-bottom: 30px;
}
.prod-catalog .title {
    padding: 0 28px 15px;
    font-size: 22px;
    color: #65acda;
    text-transform: uppercase;
}
.catalog_item a {
    display: block;
    font-size: 15px;
    color: #4c4c4c;
    padding: 7px 28px;
}
.catalog_item a:hover {
    background: #d9d9d9;
}
.prod-new-block .title {
    padding: 15px 0;
    font-size: 22px;
    color: #65acda;
    text-transform: uppercase;
}
.new-prod-item {
    display: none;
    border: solid 1px #d9d9d9;
    background: #ffffff;
    min-height: 320px;
    margin-bottom: 30px;
}
    .new-prod-item:hover {
        box-shadow: 2px 3px 20px #cccccc;
    }
.new-prod-img {
    margin: 10px 25px;
}
.new-prod-img img {
    width: 100%;
}
.new-prod-title {
    border-top: solid 1px #d9d9d9;
    padding: 20px;
}
a .new-prod-title {
    font-size: 15px;
    color: #4c4c4c;
    text-decoration: none;
}
.body_block {
    padding: 50px 0;
}

.shadow-block {
    box-shadow: 0 0 10px #dadada;
    padding: 15px 20px;
}

/* default */
.slider {
    margin-bottom: 40px;
}
.top-news {
    padding: 10px 0;
}
.block-title {
    margin-bottom: 16px;
    font-size: 22px;
    color: #65acda;
    text-transform: uppercase;
}

.top_news-item {
    font-size: 14px;
    padding: 20px;
    border: solid 1px #d9d9d9;
    color: #999999;
    min-height: 140px;
    margin-bottom: 30px;
}
    .top_news-item a {
        color: #65acda;
    }
    .top_news-item .title {
        font-size: 16px;
    }
    .top_news-item .date {
        margin-top: 10px;
    }

/* page */
.breadcrumb {
    background: transparent;
    padding: 0;
}
.type-page .breadcrumb a {
    color: #b3b3b3;
}
    .type-page .breadcrumb a:hover {
        color: #65acda;
    }

.body_block h1 {
    font-size: 44px;
    font-family: 'Times New Roman';
    color: #65acda;
}
.body_block h2 {
    font-size: 34px;
    font-family: 'Times New Roman';
    color: #3887b9;
}
.body_block h3 {
    font-size: 24px;
    font-family: 'Times New Roman';
    color: #466172;
}
.body_block blockquote {
    margin: 30px 0;
    padding: 35px 30px 35px 110px;
    border: none;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    background: #ffffff url('/Content/img/blockquote.png') 0 35px no-repeat;
    font-size: 18px;
    color: #4d4d4d;
}
.type-page a {
    color: #786de3;
}
/* news */
#rubric_news {
    padding: 4px 6px;
    border: 1px solid #ccc;
    width: 100%;
}

.news_list .item_news {
    padding-bottom: 22px;
    margin-bottom: 21px;
    border-bottom: 1px solid #e6e6e6;
}


.news-list_title, news-list_title:hover, news-list_title:focus {
    color: #000 !important;
}
.rubr {
    color: #808080;
    font-style: italic;
    font-size: 14px;
}

.map_img {
    width: 100%;
    max-width: 445px;
    float: left;
    margin-right: 20px;
    margin-bottom: 25px;
}

.show_original {
    display: block;
}

.news_item_title {
    margin-bottom: 20px;
}

.attachfile_title {
    margin-bottom: 15px;
}

.news_text img {
    max-width: 100%
}

.news_text a {
    text-decoration: underline;
}

.news-list-source {
    color: #808080;
}

.news-list_date {
    font-size: 14px;
    color: #808080;
}

.item_news .news-list_date {
    float: left;
    margin-right: 30px;
}

.news-list_title {
    display: table;
}


/* login */
.login-form {
    padding: 37px 40px;
}
.login-form form {
    margin-bottom: 20px;
}
    .login-form .form-group > label {
        font-weight: normal;
        margin-bottom: 10px;
    }
    .login-form .form-group {
        margin-bottom: 25px;
    }
.login-btn_block {
    margin-bottom: 15px;
}
.login-form input,
    .login-form button,
    .login-form .button {
        padding: 12px 30px;
        font-size: 16px;
    }

.login-socseti {
        padding: 50px 0 20px 40px;
        font-size: 16px;
        color: #b2b2b2;
    }
    .login-socseti .title {
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #4d4d4d;
        line-height: 28px;
    }
.login-socseti .description {
    margin-bottom: 20px;
}
.socseti-btn {
    overflow: hidden;
}
.login-vk,
.login-fb {
    display: block;
    float: left;
    background: #65acda;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    margin-right: 15px;
}
    .login-vk:hover,
    .login-fb:hover {
        background: #59a0ce;
    }
    .socseti-btn span:before {
    font-family: fontello;
    font-size: 24px;
    color: #ffffff;
    display: block;
    padding: 10px 5px;
    text-align: center;
}
    .login-vk:before {
        content: '\e9f4';
    }
    .login-fb:before {
        content: '\eaf5';
    }


    /* reg */
    .pass-block {
        margin-bottom: 20px;
    }
.check-mail {
    color: #dd201e;
    font-size: 14px;
}
.compliance-block {
    margin-bottom: 20px;
}
    .compliance-block label {
        font-size: 14px !important;
        font-weight: normal !important;
    }
.g-recaptcha {
    margin-bottom: 30px;
}
.reg-buttons {
    margin-bottom: 40px;
}
a.button:hover {
    text-decoration: none;
}
.btn-blue {
    position: relative;
    background: #65acda;
    border-color: #65acda;
    color: #ffffff;
}
.btn-invers {
    background: #ffffff;
    border-color: #786de3;
    color: #786de3;
}
.btn-red {
    position: relative;
    background: #e1706f;
    border-color: #ffffff;
    color: #ffffff;
}
    .btn-blue:hover,
    .btn-invers:hover,
    .btn-red:hover {
        box-shadow: 3px 3px 20px #cccccc;
    }
.to-right {
    float: right;
}
/* catalog */
.pagination {
    overflow: auto;
}
.pagination-size {
    float: right;
    margin: 20px 0;
}
.pagination-size input {
    width: 60px;
}
.catalog-title {
    padding: 10px 20px;
    background: #f2f2f2;
    color: #4c4c4c;
    font-size: 17px;
}
.catalog-block {
    background: #fafafa;
    border: solid 1px #dadada;
    padding: 20px;
    margin-bottom: 26px;
    font-size: 14px;
}
.col-left,
.col-right {
    width: 50%;
}
.col-left {
    float: left;
    padding: 0 2% 0 8%;
}
.col-center {
    width: 34%;
    overflow: hidden;
    padding: 0 5px;
}
.col-right {
    float: right;
    padding: 0 8% 0 2%;
}
.catalog-start {
    display: none;
}
.catalog-item {
    color: #4c4c4c;
    line-height: 13px;
    font-size: 12px;
}
.catalog-item div {
    overflow:hidden;
}
    .catalog-item a {
        color: #4c4c4c;
    }
    .catalog-item.active a {
        color: red !important;
    }
.lavel-1 {
    margin-top: 4px;
}
    .lavel-1:before {
        content: "•";
        display: block;
        float: left;
        margin-right: 5px;
        color: #dadada;
    }
    .lavel-1 a {
        color: #21aedd;
        font-weight: bold;
    }

.lavel-2 {
    margin: 2px 0 2px 13px;
}
.lavel-3 {
    margin-left: 30px;
}



/* prod.list */
.item_prod {
    position: relative;
    margin-bottom: 20px;
    min-height: 230px;
}
.nameplate-new {
    display:block;
    width: 50px;
    position: absolute;
    top: 6px;
    left: -6px;
}
.prod-img {
    position: relative;
    float: left;
    border: solid 1px #cccccc;
    background: url('/Content/img/_nofoto.png') center no-repeat;
    background-clip: content-box;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    cursor: pointer;
}
.prod-img img {
    width: 100%;
}
    .prod-img:before {
        content: '\e8bc';
        font-family: fontello;
        display: block;
        position: absolute;
        bottom: 6px;
        left: 6px;
        color: #21aedd;
        font-size: 20px;
    }
.prod-info {
    overflow: hidden;
}
.item_prod .prod-title {
    font-size: 19px;
    margin-bottom: 10px;
}
.type-page .prod-title a {
    color: #4d4d4d;
}
.prod-catalog-link {
    margin-bottom: 20px;
    overflow: hidden;
}
    .prod-catalog-link::after {
        content: "";
        display: block;
        border-bottom: solid 1px #cccccc;
        margin-top: 10px;
    }

.prod-catalog-link div {
    float: left;
    padding-right: 10px; 
    background: #ffffff;
}

.prod-params {
    margin-bottom: 10px;
}
.prod-params div {
    overflow: hidden;
    padding: 5px 0;
}
    .prod-params div span {
        display: block;
        float: left;
        padding: 0 20px;
        width: 130px;
        color: #cccccc;
    }
.prod-basket-block {
    position: relative;
    padding: 15px 0 0;
    border-top: solid 1px #cccccc;
}
.prod-price {
    float: left;
    width: 190px;
    padding: 7px 20px 7px 0;
    font-size: 16px;
}
    .prod-price span {
        margin-right: 7px;
        font-size: 15px;
        color: #b2b2b2;
        text-transform: uppercase;
    }
    .prod-price b {
        color: #e1706f;
        font-weight: bold;
    }
.prod-cert {
    float: right;
    color: #65acda;
    padding: 7px 0 7px 60px;
    background: url('/Content/img/cert.png') 20px 7px no-repeat;
    cursor: pointer;
}
.prod-cert:hover {
    text-decoration: underline;
}
.cert-panel {
    position: absolute;
    right: 0;
    margin: -10px 20px 0 0;
    box-shadow: 5px 3px 20px #808080;
    background: #ffffff;
    z-index: 10000;
}
.cert-panel_body {
    padding: 25px 60px 25px 30px;
    position: relative;
}
.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.btn-close:before {
    content: '\ec5b';
    font-family: fontello;
    font-size: 20px;
    cursor: pointer;
}
/* prod.item */
.prod-preview {
    width: 400px;
    float:left;
    margin: 0 30px 30px 0;
}
.preview-img {
    border: solid 1px #d9d9d9;
    width: 100%;
}
.prod-property {
    margin-bottom: 20px;
}
    .prod-property div {
        overflow: hidden;
        padding: 5px 0;
    }
        .prod-property div span {
            display: block;
            float: left;
            padding: 0;
            width: 150px;
            color: #cccccc;
        }
    .prod-property b {
        color: #e1706f;
    }
.basket-form_cell {
    float: left;
    width: 150px;
}
.prod-desc .basket-form {
    margin-bottom: 20px;
}
.prod-desc .prod-cert {
    float: none;
    overflow: auto;
    padding: 7px 0 7px 40px;
    background: url(/Content/img/cert.png) 0 7px no-repeat;
}
.prod-desc .cert-panel {
    top: 50px;
    min-width: 400px;
}
/* Basket */
.basket-result h3 span {
    color: #dd201e;
}
.bottom-clone {
    margin-bottom: 30px;
}
.menu-basket-info {
    float: right;
    background: url('/Content/img/menu-basket.png') 0 12px no-repeat;
    padding: 0 0 0 30px;
}
    .menu-basket-info a {
        display: block;
        float: left;
        padding: 15px 5px;
        font-weight: bold;
    }

        .menu-basket-info a:hover {
            color: #ffcd00;
            text-decoration: none;
        }

.basket-form input {
    width: 30px;
}
input.chenge-input {
    border-color: #dd201e !important;
}
.basket_item {
    margin-bottom: 20px;
    overflow: hidden;
}
.basket-img {
    position: relative;
    float: left;
    border: solid 1px #cccccc;
    background: url('/Content/img/_nofoto.png') center no-repeat;
    background-clip: content-box;
    background-size: contain;
    margin-right: 20px;
    cursor: pointer;
    width: 120px;
    height: 120px;
}
.basket-img img {
    width: 100%;
}
.basket_item-title {
    font-size: 19px;
    margin-bottom: 30px;
}

.type-page .basket_item-title a {
    color: #4d4d4d;
}

.basket_item-counter {
    overflow: hidden;
    float: left;
    width: 120px;
}
    .basket_item-counter input {
        width: 30px;
        border-radius: 0 !important;
        text-align: center;
    }
    .basket_item-counter .form-group {
        float: left;
    }
.count-more,
.count-less {
    float: left;
    padding: 6px 7px 5px;
    resize: none;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    outline: none;
    background: #fff;
    color: #4c4c4c;
    cursor: pointer;
    font-weight: bold;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
    .count-more:active,
    .count-less:active {
        box-shadow: #cccccc 0 0 10px inset;
    }
.count-more {
    border-radius: 0 5px 5px 0;
    border-left: none;
}
.count-less {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.basket_item-params {
    float: left;
    padding: 5px 0;
}

.basket_item-params div {
    overflow: hidden;
    padding: 5px 0;
}
    .basket_item-params div span {
        display: block;
        float: left;
        padding: 0 20px;
        width: 60px;
        color: #cccccc;
    }

.basket_delete {
    float: right;
}
#orderForm {
    margin-bottom: 20px;
}

/* footer */
.footer {
    overflow: hidden;
    padding: 33px 0;
    background: #f2f2f2;
    border-top: solid 1px #dadada;
    font-size: 14px;
}
.adress {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 26px;
}
.map-link {
    margin-bottom: 15px;
}
    .map-link a {
        color: #786de3;
        font-size: 18px;
        text-decoration: underline;
    }
.socseti {
    overflow: hidden;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 15px;
}
    .socseti div {
        float: left;
        padding: 11px 15px 10px 0;
    }
    .socseti a {
        color: #21aedc;
        display: inline-block;
        width: 29px;
        height: 29px;
        margin-right: 5px;
    }
    .socseti .vk-link {
        background: url('/Content/img/vk.png') center no-repeat;
    }
        .socseti .vk-link:hover {
            background: url('/Content/img/vk_color.png') center no-repeat;
        }
    .socseti .facebook-lik {
        background: url('/Content/img/fb.png') center no-repeat;
    }
        .socseti .facebook-lik:hover {
            background: url('/Content/img/fb_color.png') center no-repeat;
        }

    .socseti .instagram-link {
        background: url('/Content/img/i.png') center no-repeat;
    }
        .socseti .instagram-link:hover {
            background: url('/Content/img/i_color.png') center no-repeat;
        }
.copyright {
    font-size: 16px;
}
.quote {
    font-size: 12.5px;
}


.footer .title {
    font-size: 16px;
    color: #65acda;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.contakt-block {
    margin: 15px 0; 
}
.telefon,
.email {
    float: left;
    width: 70px;
    color: #b2b2b2;
}
    .telefon ~ div,
    .email ~ div {
        overflow: auto;
    }




/* ----------- Элементы формы ----------- */
.body_block input:not([type=checkbox]) {
    padding: 7px 15px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: #4c4c4c;
    min-width: 60px;
}
.body_block button,
.body_block .button {
    padding: 7px 20px;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.body_block .button-xs {
    padding: 4px 12px;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 5px;
    outline: none;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
}
