@import url('/Content/fonts/fontello/fontello.css');

body {
    font-family: Verdana;
    font-size: 15px;
    line-height: 1.4em;
    color: #4c4c4c;
    overflow-y: scroll;
    overflow-x: no-display;
}

form {
    margin: 0;
    padding: 0;
}

/*.container {
    overflow: hidden;
}*/

/* Статичное меню при прокрутке */
.scroll-menu {
    display: none;
    background: #65acda;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99998;
    color: #ffffff;
    font-size: 14px;
}
    .scroll-menu a {
        color: #ffffff;
        border-left: solid 1px #65acda;
        border-right: solid 1px #65acda;
    }
    .scroll-menu .nav .active a,
    .scroll-menu .nav a:focus,
    .scroll-menu .nav a:hover {
        background: #49c1e9 !important;
        color: #ffffff;
    }

.menu-basket-info {
    float: right;
    position: relative;
}
    .menu-basket-info a {
        display: block;
        float: left;
        background: url('/Content/img/menu-basket.png') 0 12px no-repeat;
        padding: 15px 5px 15px 30px;
        font-weight: bold;
    }
        .menu-basket-info a:hover {
            color: #ffcd00;
            text-decoration: none;
        }
.basket-goods-count {
    display: none;
    font-size: 10px;
    line-height: 15px;
    border-radius: 50%;
    background: #dd201e;
    width: 15px;
    height: 15px;
    text-align: center;
    position: absolute;
    top: 3px;
    right: 0;
}
/* //-- Статичное меню при прокрутке */

/* Шапка */
.head_block {
    background: linear-gradient(to top, #ffffff, #a4e2ff);
}

.clouds {
    background: url('/Content/img/clouds.png') top center repeat-x;
    padding: 30px 0 20px;
}
/* Шапка.Логотип */
.logo {
    position: relative;
    float: left;
    width: 263px;
    padding-bottom: 10px;
}
    .logo a {
        display: block;
    }
    .logo img {
        width: 100%;
    }

.phone {
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 18px;
    color: #808080;
}
.phone span {
    font-size: 21px;
    color: #dd201e;
}
/* //-- Шапка.Логотип */

/* Шапка.Поиск */
.search-block {
    padding: 26px 30px 10px;
    overflow: hidden;
}
    .search-block input,
    .search-block button {
        display: inline-block;
        margin: 0;
        padding: 13px 20px;
        resize: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 5px;
        outline: none;
        font-size: 18px;
        color: #4c4c4c;
        border: solid 1px;
    }
    .search-block input {
        width: 62%;
        border-color: #acacac;
    }
        .search-block input:focus {
            border-color: #65acda;
        }
    .search-block button {
        border-color: #ffcd00;
        background: #ffcd00;
    }
        .search-block button:hover {
            box-shadow: 2px 3px 20px #cccccc;
        }
        .search-block button.big-btn {
            margin-left: 3%;
            width: 30%;
        }
        .search-block button.icon-search {
            border-radius: 0 5px 5px 0;
            border-color: #acacac;
            display: none;
        }
/* Шапка.Поиск */

/* Шапка.Корзина */
.basket-block {
    position: relative;
    float: right;
    text-align: left;
    padding: 26px 0 10px;
}
.basket-block a {
    text-decoration: none;
}
.basket-counter {
    font-size: 18px;
    line-height: 20px;
    color: #4c4c4c;
    width: 225px;
    min-height: 49px;
    padding-left: 85px;
    background: url('/Content/img/basket.png') bottom left no-repeat;
}
    .basket-counter:hover {
        background: url('/Content/img/basket_active.png') bottom left no-repeat;
    }
.goods {
    margin-bottom: 5px;
}
.cost {
    color: #e1706f;
}
.basket-empty {
    padding: 12px 0;
}
/* //-- Шапка.Корзина */
/* //-- Шапка */

/* Меню */
.menu_block {
    background: #65acda;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
}
    .menu_block a {
        color: #ffffff;
        border-left: solid 1px #65acda;
        border-right: solid 1px #65acda;
    }
    .menu_block .nav .active a,
    .menu_block .nav a:focus,
    .menu_block .nav a:hover {
        background: #49c1e9 !important;
        color: #ffffff;
    }

/* Меню.Каталог */
a.catalog-btn,
.navbar-toggle {
    display: none;
    float: left;
    margin: 0 10px 0 0;
    padding: 8px 15px;
    border-right: double 7px #ffffff;
    border-top: 0;
    border-bottom: 0;
    font-size: 13px;
}
    a.catalog-btn:hover {
        text-decoration: none;
        color: #ffffff;
    }
/* //-- Меню.Каталог */

/* Меню.Авторизация */
.login-block {
    float: right;
}
    .login-block a {
        display: block;
        float: left;
        padding: 15px 5px;
        font-weight: bold;
    }
        .login-block a:hover {
            color: #ffcd00;
        }
/* //-- Меню.Авторизация */
/* //-- Меню */

/* Блок поиска для мобильных устройств */
.mobile-search-block {
    margin-bottom: 10px;
}
    .mobile-search-block input,
    .mobile-search-block button {
        margin: 0;
        resize: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        color: #4c4c4c;
        border: solid 1px;
    }
    .mobile-search-block input {
        width: 90%;
        padding: 3px 10px;
        border-color: #acacac;
        border-radius: 5px 0 0 5px;
    }
    .mobile-search-block button {
        width: 10%;
        padding: 3px 0;
        border-color: #ffcd00;
        border-radius: 0 5px 5px 0;
        background: #ffcd00;
    }
/* //-- Блок поиска для мобильных устройств */

/* Центральная часть */
.body_block {
    padding: 40px 0;
}

/* Центральная часть.Каталог и Новинки */
.body-right {
    float: left;
    width: 270px;
}

/* Центральная часть.Каталог */
.prod-catalog {
    background: #fafafa url('/Content/img/catalog.png') top right no-repeat;
    border: solid 1px #dadada;
    padding: 30px 0 60px;
    margin-bottom: 30px;
}
    .prod-catalog .title {
        padding: 0 28px 15px;
        font-size: 22px;
        color: #65acda;
        text-transform: uppercase;
    }
.catalog_item a {
    display: block;
    font-size: 14px;
    color: #4c4c4c;
    padding: 7px 28px;
    text-transform: uppercase;
}
    .catalog_item a:hover {
        color: #65acda;
    }
.catalog-child_list {
    display: none;
}
/* //-- Центральная часть.Каталог */

/* Центральная часть.Новинки */
.new-prod-block .title {
    padding: 15px 0;
}
    .new-prod-block .title a {
        font-size: 22px;
        color: #65acda;
        text-transform: uppercase;
    }
        .new-prod-block .title a:hover {
            text-decoration: none;
            border-bottom: solid 1px #337ab7;
        }
/*.body-right .new-prod-item {
    display: none;
}*/
.new-prod-list {
    overflow: hidden;
    border: solid 1px #d9d9d9;
    background: #ffffff;
    padding: 5px;
}
.new-prod-item {
    float: left;
    width: 50%;
    padding: 5px;
}
    .new-prod-item a {
        display: block;
        width: 119px;
        height: 119px;
        background: url('/Content/img/_nofoto.png') center no-repeat;
        background-clip: content-box;
        background-size: contain;
    }
    .new-prod-item img {
        width: 100%;
    }
.new-prod-title {
    border-top: solid 1px #d9d9d9;
    padding: 20px;
}
a .new-prod-title {
    font-size: 15px;
    color: #4c4c4c;
    text-decoration: none;
}
/* //-- Центральная часть.Новинки */
/* //-- Центральная часть.Каталог и Новинки */

/* Контент */
.body-content {
    float: left;
    padding: 0 1px 20px 29px;
    width: 870px;
}
.shadow-block {
    box-shadow: 0 0 10px #dadada;
    padding: 15px 20px;
}
.pagination {
    overflow: auto;
    margin: 10px 0;
}
.body_block .pagination input:not([type=checkbox]) {
    width: 30px;
    min-width: 17px;
    border: none;
    padding: 0;
    margin: 0;
}
.pagination a:hover input {
    background: #eeeeee;
}
.pagination-size {
    float: right;
    margin: 10px 0;
}
    .pagination-size input {
        width: 60px;
    }
/* Страница.Default */
/* Слайдер */
.slider {
    margin-bottom: 40px;
}
/* Баннер "Каталог продукции" */
.mobile-catalog {
    display: none;
}
.mobile-catalog img {
    width: 100%;
}
/* Блок "Новинки" для мобильных устройств */
.mobile-novelties {
    overflow: auto;
    display: none;
}
    .mobile-novelties .new-prod-item {
        float: left;
        padding: 0;
        margin: 0 1% 30px;
        width: 23%;
    }
    .mobile-novelties .new-prod-item a {
        width: 100%;
        min-height: 112px;
        height: auto;
    }
/* Блок новостей */
.top-news {
    padding: 10px 0;
}
.body_block .block-title {
    margin-bottom: 16px;
}
.body_block .block-title a {
    font-size: 22px;
    color: #65acda;
    text-transform: uppercase;
}
        .block-title a:hover {
            text-decoration: none;
            border-bottom: solid 1px #337ab7;
        }
.news_list a{
    text-decoration: none;
}
.top_news-item {
    float:left;
    font-size: 14px;
    padding: 20px;
    border: solid 1px #d9d9d9;
    color: #999999;
    min-height: 140px;
    width: 260px;
    margin: 0 30px 30px 0;
     
}
.news_list a:nth-child(3n) .top_news-item {
    margin-right: 0;
}
    .top_news-item:hover {
        box-shadow: 2px 3px 20px #cccccc;
    }
    .top_news-item .title {
        font-size: 16px;
        color: #337ab7;
    }
    .top_news-item .date {
        margin-top: 10px;
    }
/* //-- Страница.Default */

/* Страница.Page */
.breadcrumb {
    background: transparent;
    padding: 0;
}
.type-page .breadcrumb a {
    color: #b3b3b3;
}
    .type-page .breadcrumb a:hover {
        color: #65acda;
    }

.child_sitemap {
    overflow: auto;
    box-shadow: 0 0 10px #dadada;
    padding: 15px 40px;
    margin-bottom: 15px;
}
.child_sitemap_link {
    float: left;
    width: 46%;
    margin: 5px 0;
}
    .child_sitemap_link:before {
        content: "—";
        display: inline-block;
    }

.body_block h1 {
    font-size: 44px;
    font-family: 'Times New Roman';
    color: #65acda;
}
.body_block h2 {
    font-size: 34px;
    font-family: 'Times New Roman';
    color: #3887b9;
}
.body_block h3 {
    font-size: 24px;
    font-family: 'Times New Roman';
    color: #466172;
}
.body_block blockquote {
    margin: 30px 0;
    padding: 35px 30px 35px 110px;
    border: none;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    background: #ffffff url('/Content/img/blockquote.png') 0 35px no-repeat;
    font-size: 18px;
    color: #4d4d4d;
}
.body_block a {
    color: #786de3;
}
/* //-- Страница.Page */

/* Страница.News */
#rubric_news {
    padding: 4px 6px;
    border: 1px solid #ccc;
    width: 100%;
}
.news_list .item_news {
    padding-bottom: 22px;
    margin-bottom: 21px;
    border-bottom: 1px solid #e6e6e6;
}
.news-list_title, news-list_title:hover, news-list_title:focus {
    color: #000 !important;
}
.rubr {
    color: #808080;
    font-style: italic;
    font-size: 14px;
}
.map_img {
    width: 100%;
    max-width: 445px;
    float: left;
    margin-right: 20px;
    margin-bottom: 25px;
}
.show_original {
    display: block;
}
.news_item_title {
    margin-bottom: 20px;
}
.attachfile_title {
    margin-bottom: 15px;
}
.news_text img {
    max-width: 100%
}
.news_text a {
    text-decoration: underline;
}
.news-list-source {
    color: #808080;
}
.news-list_date {
    font-size: 14px;
    color: #808080;
}
.item_news .news-list_date {
    float: left;
    margin-right: 30px;
}
.news-list_title {
    display: table;
}
/* //-- Страница.News*/

/* Страница.Catalog */
.catalog-title {
    padding: 15px 20px;
    background: #f2f2f2;
    color: #4c4c4c;
    font-size: 20px;
    line-height: 26px;
}
    .catalog-title div {
        float: right;
    }
    .catalog-title span:before {
        font-family: fontello;
        font-size: 17px;
    }
.catalog-tree,
.catalog-list {
    background: #fafafa;
    border: solid 1px #dadada;
    padding: 20px;
    margin-bottom: 26px;
    font-size: 14px;
    display: none;
}
.col-left,
.col-right {
    width: 50%;
}
.col-left {
    float: left;
    padding: 0 2% 0 8%;
}
.col-right {
    float: right;
    padding: 0 8% 0 2%;
}
.catalog-start {
    display: none;
}
.catalog-item {
    color: #21aedd;
    font-weight: bold;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 8px;
}
    .catalog-item:before {
        content: "•";
        display: block;
        float: left;
        margin-right: 5px;
        color: #dadada;
    }
    .catalog-item div {
        overflow: hidden;
    }
    .catalog-item a {
        color: #21aedd;
    }
    .catalog-item.active a {
        color: #dd201e !important;
    }
.lavel-2 {
    margin: 2px 0 2px 13px;
}
.lavel-3 {
    margin-left: 30px;
}
/* Catalog.Панель сортировки */
.prod-sort {
    background: #f2f2f2;
}
.sort-form {
    overflow: hidden;
    padding: 8px 20px 0 20px;
}
    .sort-form div {
        float: left;
        margin-right: 15px;
    }
.load-line {
    float: none;
    height: 3px;
    margin-top: 5px;
}
    .load-line .progress {
        width: 0;
        height: 3px;
        background: #65acda;
    }
.info-from {
    display: none;
}
/* //-- Страница.Catalog */

/* Страница.Prod */
.prod-preview {
    position: relative;
    width: 400px;
    min-height: 400px;
    display: inline-block;
    float: left;
    margin: 0 30px 30px 0;
    background: url('/Content/img/_nofoto.png') center no-repeat;
    background-clip: content-box;
    background-size: contain;
}
    .loop:before {
        content: '\e8bc';
        font-family: fontello;
        display: block;
        position: absolute;
        bottom: 6px;
        left: 6px;
        color: #21aedd;
        font-size: 20px;
        background: #ffffff;
        padding: 1px 3px;
    }
.preview-img {
    border: solid 1px #d9d9d9;
    width: 100%;
}
.prod-property {
    margin-bottom: 20px;
}
    .prod-property div {
        overflow: hidden;
        padding: 5px 0;
    }
        .prod-property div span {
            display: block;
            float: left;
            padding: 0;
            width: 150px;
            color: #cccccc;
        }
    .prod-property b {
        color: #e1706f;
    }
.basket-form_cell {
    float: left;
    width: 150px;
}
.prod-desc {
    display: inline-block;
}
.prod-desc .basket-form {
    margin-bottom: 20px;
}
.prod-desc .prod-cert {
    float: none;
    overflow: auto;
    padding: 7px 0 7px 40px;
    background: url(/Content/img/cert.png) 0 7px no-repeat;
}
.prod-desc .cert-panel {
    top: 50px;
    min-width: 400px;
}
.cert-title {
    margin: 10px 0 0;
    font-weight: bold;
}

/* //-- Страница.Prod */
/* Страница.Contacts */
#map {
    background: #dadada;
    border: solid 1px #cccccc;
    margin: 10px 0;
    height: 470px;
}
/* //-- Страница.Contacts */

/* Блоки.Продукция */
.item_prod {
    position: relative;
    margin-bottom: 10px;
    min-height: 200px;
}
.mobile-prod_title {
    display: none;
}
.nameplate-new {
    display: block;
    width: 50px;
    position: absolute;
    top: 6px;
    left: -6px;
}
.prod-img {
    position: relative;
    float: left;
    border: solid 1px #cccccc;
    background: url('/Content/img/_nofoto.png') center no-repeat;
    background-clip: content-box;
    background-size: contain;
    width: 170px;
    height: 170px;
    margin-right: 20px;
    padding: 5px;
    cursor: pointer;
}
    .prod-img img {
        width: 100%;
    }
    .prod-img .loop:before {
        content: '\e8bc';
        font-family: fontello;
        display: block;
        position: absolute;
        bottom: 6px;
        left: 6px;
        color: #21aedd;
        font-size: 20px;
        background: #ffffff;
        padding: 1px 3px;
    }
.prod-info {
    overflow: hidden;
}
.item_prod .prod-title {
    font-size: 17px;
    margin-bottom: 5px;
}
.type-page .prod-title a {
    /*color: #4d4d4d;*/
    color: #000000;
}
.prod-catalog-link {
    margin-bottom: 5px;
    overflow: hidden;
}
    .prod-catalog-link::after {
        content: "";
        display: block;
        border-bottom: solid 1px #cccccc;
        margin-top: 10px;
    }
    .prod-catalog-link div {
        float: left;
        padding-right: 10px;
        background: #ffffff;
    }
.prod-params {
    margin-bottom: 5px;
}
    .prod-params div {
        overflow: hidden;
        padding: 3px 0;
    }
        .prod-params div span {
            display: block;
            float: left;
            padding: 0 20px;
            width: 130px;
            color: #808080;
        }
.prod-basket-block {
    position: relative;
    padding: 15px 0 0;
    border-top: solid 1px #cccccc;
}
.prod-price {
    float: left;
    width: 190px;
    padding: 7px 20px 7px 0;
    font-size: 16px;
}
    .prod-price span {
        margin-right: 7px;
        font-size: 15px;
        color: #b2b2b2;
        text-transform: uppercase;
    }
    .prod-price b {
        color: #e1706f;
        font-weight: bold;
    }

/* Блок "Продукция" (средний размер) */
.average-list .item_prod:first-child {
    border-top: solid 1px #dadada;
}
.average-list .item_prod {
    border: solid 1px #dadada;
    border-top: none;
    padding: 10px 20px;
    position: relative;
}
    .average-list .item_prod .prod-img {
        width: 120px;
        height: 120px;
        padding: 0;
    }
.average-list .nameplate-new {
    width: 37px;
    position: absolute;
    top: 6px;
    left: -5px;
}
.average-list .prod-title {
    font-size: 16px;
}
.average-list .prod-catalog-link {
    margin-bottom: 7px;
}
.average-list .prod-params {
    font-size: 14px;
}
    .average-list .prod-params span {
        color: #b2b2b2;
        margin: 0 10px;
    }
        .average-list .prod-params span:first-child {
            color: #b2b2b2;
            margin-left: 0;
        }
.average-list .prod-cert {
    float: left;
    background-position: 0;
    padding-left: 40px;
}
.average-list .prod-basket-block {
    float: right;
    width: 170px;
    border-top: none;
}
.average-list .prod-basket-block button {
    margin: 7px 0;
}
    /* Сертификаты */
    .prod-cert {
        float: right;
        color: #65acda;
        padding: 7px 0 7px 58px;
        background: url('/Content/img/cert.png') 20px 7px no-repeat;
        cursor: pointer;
    }
    .prod-cert:hover {
        text-decoration: underline;
    }
.cert-panel {
    position: absolute;
    right: 0;
    margin: -10px 20px 0 0;
    box-shadow: 5px 3px 20px #808080;
    background: #ffffff;
    z-index: 10000;
}
.cert-panel_body {
    padding: 25px 60px 25px 30px;
    position: relative;
}
.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
}
    .btn-close:before {
        content: '\ec5b';
        font-family: fontello;
        font-size: 20px;
        cursor: pointer;
    }
/* Форма добавления в корзину */
.prod-desc .basket-form {
    margin-bottom: 20px;
}
.basket-form input {
    width: 30px;
}

/* Блок товара в корзине */
.basket-result h3 span {
    color: #dd201e;
}
.bottom-clone {
    margin-bottom: 30px;
}
.menu-basket-info {
    float: right;
    position: relative;
}
    .menu-basket-info a {
        display: block;
        float: left;
        background: url('/Content/img/menu-basket.png') 0 12px no-repeat;
        padding: 15px 5px 15px 30px;
        font-weight: bold;
    }
        .menu-basket-info a:hover {
            color: #ffcd00;
            text-decoration: none;
        }

.basket-goods-count {
    display: none;
}

input.chenge-input {
    border-color: #dd201e !important;
}

.basket_item,
.order-details_item {
    margin-bottom: 20px;
    overflow: hidden;
}

.basket-img {
    position: relative;
    float: left;
    border: solid 1px #cccccc;
    background: url('/Content/img/_nofoto.png') center no-repeat;
    background-clip: content-box;
    background-size: contain;
    margin-right: 20px;
    cursor: pointer;
    width: 120px;
    height: 120px;
}
    .basket-img img {
        width: 100%;
    }
.item-info {
    overflow: auto;
}
.mobile-block-visable {
    display: none;
}
    .mobile-block-visable .basket_item-title {
        margin-bottom: 10px;
    }
.basket_item-title{
    font-size: 19px;
    margin-bottom: 30px;
}
.order-details_item .item-info .title {
    font-size: 19px;
    margin-bottom: 15px;
}
.order-details_item div {
    overflow: hidden;
}

.order-details_item .item-info div {
    margin-bottom: 5px;
}

.order-details_item span {
    display: block;
    float: left;
    width: 120px;
    color: #808080;
}

.order-details_item b {
    color: #dd201e;
}

.type-page .basket_item-title a,
.type-page .order-details_item .title a,
.basket_item-mobyle-title a {
    color: #4d4d4d;
}

.order-details_item .title {
    font-size: 19px;
    margin-bottom: 10px;
}

.basket_item-counter {
    overflow: hidden;
    float: left;
    width: 120px;
    margin-right: 30px;
}

    .basket_item-counter input {
        width: 30px;
        border-radius: 0 !important;
        text-align: center;
    }

    .basket_item-counter .form-group {
        float: left;
    }

.count-more,
.count-less {
    float: left;
    padding: 6px 7px 5px;
    resize: none;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    outline: none;
    background: #fff;
    color: #4c4c4c;
    cursor: pointer;
    font-weight: bold;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

    .count-more:active,
    .count-less:active {
        box-shadow: #cccccc 0 0 10px inset;
    }

.count-more {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.count-less {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.basket_item-params {
    float: left;
    padding: 10px 0;
    margin-right: 30px;
}
    .basket_item-params span {
        display: block;
        float: left;
        padding: 0 20px 0 0;
        color: #cccccc;
    }
#orderForm {
    margin-bottom: 20px;
}

/* Страница.Login */
.login-form {
    padding: 37px 40px;
}

    .login-form form {
        margin-bottom: 20px;
    }

    .login-form .form-group > label {
        font-weight: normal;
        margin-bottom: 10px;
    }

    .login-form .form-group {
        margin-bottom: 25px;
    }

.login-btn_block {
    margin-bottom: 15px;
}

.login-form input,
.login-form button,
.login-form .button {
    padding: 12px 30px;
    font-size: 16px;
}

.login-socseti {
    padding: 50px 0 20px 40px;
    font-size: 16px;
    color: #b2b2b2;
}

    .login-socseti .title {
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #4d4d4d;
        line-height: 28px;
    }

    .login-socseti .description {
        margin-bottom: 20px;
    }

.socseti-btn {
    overflow: hidden;
}

.login-vk,
.login-fb {
    display: block;
    float: left;
    background: #65acda;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    margin-right: 15px;
}

    .login-vk:hover,
    .login-fb:hover {
        background: #59a0ce;
    }

.socseti-btn span:before {
    font-family: fontello;
    font-size: 24px;
    color: #ffffff;
    display: block;
    padding: 10px 5px;
    text-align: center;
}

.login-vk:before {
    content: '\e9f4';
}

.login-fb:before {
    content: '\eaf5';
}
/* //-- Страница.Login */

/* Страница.Reg */
.pass-block {
    margin-bottom: 20px;
}

.check-mail {
    color: #dd201e;
    font-size: 14px;
}

.compliance-block {
    margin-bottom: 20px;
}

    .compliance-block label {
        font-size: 14px !important;
        font-weight: normal !important;
    }

.g-recaptcha {
    margin-bottom: 30px;
}

.reg-buttons {
    margin-bottom: 40px;
}

a.button:hover {
    text-decoration: none;
}

.btn-blue,
a.btn-blue {
    position: relative;
    background: #65acda;
    border-color: #65acda;
    color: #ffffff;
}

.btn-invers,
a.btn-invers {
    background: #ffffff;
    border-color: #786de3;
    color: #786de3;
}

.btn-red,
a.btn-red {
    position: relative;
    background: #e1706f;
    border-color: #ffffff;
    color: #ffffff;
}

    .btn-blue:hover,
    .btn-invers:hover,
    .btn-red:hover {
        box-shadow: 3px 3px 20px #cccccc;
    }

.to-right {
    float: right;
}
/* //-- Страница.Reg */

/* Страница.User */
.lk-tabs {
    margin-bottom: 50px;
}
    .lk-tabs a {
        margin: 0;
        padding: 15px 30px;
        border-bottom: solid 1px #dadada;
    }
        .lk-tabs a.active {
            border: solid 1px #dadada;
            border-bottom: none;
            border-radius: 5px 5px 0 0;
        }
.lk-info > div {
    margin: 20px 0;
}

.lk-socseti_desc {
    color: #dd201e;
}
/* //-- Страница.User  */

/*  Страница.Orders */
.order-item,
.order-list_title {
    overflow: hidden;
    border-bottom: solid 1px #cccccc;
}

    .order-item div,
    .order-list_title div {
        float: left;
        padding: 5px 10px;
    }

.order-list_title {
    background: #cccccc;
    font-weight: bold;
}

.order-item_link {
    width: 110px;
}

.order-item_date {
    width: 200px;
    text-align: center;
}
/* //-- Страница.Orders */

/* Галерея */
.popup-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.60);
    z-index: 99999;
    cursor: pointer;
}
.gallery-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
}
    .gallery-content:before {
        content: "";
        display: inline-block;
        height: 50%;
        width: 1px;
        margin-right: -1px;
    }
.gallery-img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 10px;
    width: auto;
    height: auto;
    vertical-align: middle;
    background: #ffffff;
    user-select: none;
}
/* //-- Галерея */
/* //-- Контент */
/* //-- Центральная часть */
/* Подвал */
.footer {
    overflow: hidden;
    padding: 33px 0;
    background: #f2f2f2;
    border-top: solid 1px #dadada;
    font-size: 14px;
}
.adress {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 26px;
}
.map-link {
    margin-bottom: 15px;
}
    .map-link a {
        color: #786de3;
        font-size: 18px;
        text-decoration: underline;
    }
.socseti {
    overflow: hidden;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 15px;
}
    .socseti div {
        float: left;
        padding: 11px 15px 10px 0;
    }
    .socseti a {
        color: #21aedc;
        display: inline-block;
        width: 29px;
        height: 29px;
        margin-right: 5px;
    }
    .socseti .vk-link {
        background: url('/Content/img/vk.png') center no-repeat;
    }
        .socseti .vk-link:hover {
            background: url('/Content/img/vk_color.png') center no-repeat;
        }
    .socseti .facebook-lik {
        background: url('/Content/img/fb.png') center no-repeat;
    }
        .socseti .facebook-lik:hover {
            background: url('/Content/img/fb_color.png') center no-repeat;
        }
    .socseti .instagram-link {
        background: url('/Content/img/i.png') center no-repeat;
    }
        .socseti .instagram-link:hover {
            background: url('/Content/img/i_color.png') center no-repeat;
        }
.copyright {
    font-size: 16px;
}
.quote {
    font-size: 12.5px;
}
.footer .title {
    font-size: 16px;
    color: #65acda;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.contakt-block {
    margin: 15px 0;
}
.telefon,
.email {
    float: left;
    width: 70px;
    color: #b2b2b2;
}
    .telefon ~ div,
    .email ~ div {
        overflow: auto;
    }
/* //-- Подвал */

/* фотогаллерея */
.gallery__list {
    display: inline-block;
}

iframe.photo-gallery {
    display: none;
}

.swip_wr {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
}

    .swip_wr a {
        background: 50% 50% no-repeat;
        background-size: cover;
        display: block;
        width: 130px;
        height: 130px;
    }

#swipebox-original {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 14px;
    z-index: 999;
}

    #swipebox-original:before {
        font-family: fontello;
        content: '\ea6d';
        color: #fff;
        font-size: 21px;
        position: relative;
        left: 14px;
    }


.structur_phons {
    padding: 10px 0 20px;
}

.vacnacy-list {
    margin: 30px 0 0;
}

.vacnacy_item {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 20px;
    margin: 0 0 20px;
}

.vacnacy_item_date {
    font-size: 12px;
    color: #999;
}

.vacancy-single-desc {
    margin-bottom: 20px;
    overflow: hidden;
}

.gs-background {
    margin: 0 auto;
    background-color: #003399;
    display: inline-block;
    padding: 1px;
}


/* ----------- Элементы формы ----------- */
.body_block input:not([type=checkbox]),
.body_block select {
    padding: 7px 15px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: #4c4c4c;
    min-width: 60px;
}

.body_block button,
.body_block .button {
    padding: 7px 20px;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.body_block .button-xs {
    padding: 4px 12px;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 5px;
    outline: none;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
}
