@model ProdViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }


    <h1>Результаты поиска</h1>
    <h3>Вы искали «@ViewBag.SearchText»</h3>

    <div class="page-text">
        @if (Model.List != null)
        {
            if (Model.List.Data.Any())
            {
                Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
                @Html.Partial("Prod/ProdItem", Model.List.Data)
            }
            Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
        }
    </div>
</div>