@model ProdViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }


    <h1>Поиск</h1>

    <div class="page-text">
        @if (Model.List != null)
        {
            if (Model.List.Data.Any())
            {
                Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
                foreach (var item in Model.List.Data)
                {
                    @Html.Partial("Prod/ProdItem", item)
                }
                Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
            }
        }
    </div>
</div>