 @{ 
     Layout = null; 
}
@model OrderModel

<a href="/basket">
    @if (Model != null)
    {
        <span class="basket-goods-count">@Model.ProdCount</span>
        <div class="hidden-sm">@Model.ProdCount шт./ @Model.Total.ToString("# ###.00#") р.</div>
    }
    else
    {
        <div class="hidden-sm">Корзина пуста</div>
    }
</a>