
<!DOCTYPE html>

<html>
<head>
   
    <title>CMS Disly | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Language" content="ru" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Content/favicon.ico" rel="shortcut icon">
    
    <link href="/Content/plugins/select2/css/select2.css" rel="stylesheet">
    <link href="/Content/plugins/select2/css/select2_custom.css" rel="stylesheet">
    <link href="/Content/plugins/icheck/skins/square/_all.css" rel="stylesheet">
    <link href="/Content/plugins/datatables/datatables.min.css" rel="stylesheet">
    <link href="/Content/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/Content/plugins/bootstrap/css/bootstrap-select.css" rel="stylesheet">
    <link href="/Content/plugins/Disly/DislyControls.css" rel="stylesheet">
    <link href="/Content/css/styles_popUp.css" rel="stylesheet">

    <script src="/Content/plugins/jquery/jquery.js"></script>
    <script src="/Content/plugins/jquery/jquery.ui.js"></script>
    <script src="/Content/plugins/select2/select2.min.js"></script>
    <script src="/Content/plugins/select2/i18n/ru.js"></script>
    <script src="/Content/plugins/icheck/icheck.min.js"></script>
    <script src="/Content/plugins/datatables/datatables.min.js"></script>
    <script src="/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/plugins/bootstrap/js/bootstrap-toggle.js"></script>
    <script src="/Content/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>
    <script src="/Scripts/cms/disly_5_popup.js"></script>
</head>

<body>
    @*@using (Html.BeginForm())
    {
        
    }*@
    @RenderBody()
    
</body>
</html>
