@model NewsViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }


    <h1>@ViewBag.Title</h1>
    @if (!String.IsNullOrEmpty(ViewBag.Alias))
    {
        @Html.Partial("part/Item")
    }
    else
    {
        <div class="news_list">
            @if (Model.List != null)
            {
                if (Model.List.Data != null)
                {
                    foreach (var item in Model.List.Data)
                    {
                        <div class="item_news">
                            <div class="news-list_date"><span>@item.Date.ToString("HH:mm | dd.MM.yyyy")</span></div>
                            <a class="news-list_title" href="/press/@item.Year/@item.Month/@item.Day/@item.Alias">@Html.Raw(item.Title)</a>
                        </div>
                    }
                }
                Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager, inputSize = false });
            }
        </div>
    }
</div>