@model ProdViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>@ViewBag.Title</h1>

    <div class="page-text">
        @if (Model.Categorys != null && Model.Categorys.CountItems > 0)
        {
            <div class="catalog-title">
                Разделы каталога
            </div>
            <div class="catalog-block">
                <div class="row"></div>
                @Html.Partial("Prod/FullCatalog", Model.Categorys.Tree)                
            </div>
        }
        @if (Model.List != null)
        {
            if (Model.List.Data.Any())
            {
                if (Model.List.Pager.page_count > 1)
                {
                    Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
                }
                foreach (var item in Model.List.Data)
                {
                    @Html.Partial("Prod/ProdItem", item)
                }
                Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
            }
        }
    </div>
</div>
