/* main-menu */
.main-menu a{
    color:#000;
}
.main-menu a:hover,
.main-menu a:active,
.main-menu a:focus{
    color:#3973e6;
}
.navbar-right a,
.navbar-left a,
.spec-version-link a{
    color:#000;
}
.navbar-right a:hover,
.navbar-right a:focus,
.navbar-right a:active,
.navbar-left a:hover,
.navbar-left a:focus,
.navbar-left a:active,
.spec-version-link a:hover,
.spec-version-link a:focus,
.spec-version-link a:active{
    color:#3973e6;
    text-decoration:none;
}
.icon-search:before{
    color:#3973e6;
}
.icon-search:hover:before{
    color:#295fcc;
}
.spec-info{
    color:#000;
}
/*  */

/* slider */
.top-slider-wrapper {
    background-color: #ccd3e0;
    background-image: url('/Content/img/doctor.png');
    background-position: -240px -20px;
    background-repeat: no-repeat;
}
.slider-text-block{
    background-color:#1f4799;
    color:#fff;
}
.slider-controls a{
    color:#8fa3cc;
}
.slider-controls a:hover{
    color:#fff;
}
.slider-message{
    background-color:#fff;
    color:#a7a7a7;
}
.slider-message.blue .slider-message-title,
.slider-message.blue .icon-slider-message{
    color:#3973e6;
}
.slider-message.blue.active .slider-message-title,
.slider-message.blue.active .icon-slider-message,
.slider-message.orange.active .slider-message-title,
.slider-message.orange.active .icon-slider-message{
    color:#fff;
}

.slider-message.orange .slider-message-title,
.slider-message.orange .icon-slider-message{
    color:#e65639;
}
.slider-message.black .slider-message-title,
.slider-message.black .icon-slider-message{
    color:#000;
}
/*  */

/* bottom-banners */
.bottom-banner-item {
    color: #222222;
}
/*  */

/* sitemap plates */
.sitemap-plates-block a{
    color:#000;
}
.sitemap-plate{
    background-color:#ebedf2;
}
.sitemap-plate:hover{
    background-color:#3973e6;
    color:#fff;
    text-decoration:underline;
    text-decoration-color: #fff;
}
.sitemap-plate:hover:after{
    border-bottom: 10px solid rgb(31, 71, 153);
}
/*  */

/* баннеры полезная инфа */
.imglink-benefit-block{
    background-color:#ebedf2;
}
.imglink-item {
    background-color: #fff;
}
.imglink-controlls > a{
    color:#999999;
}
.imglink-controlls > a:hover{
    color:#3973e6;
    cursor:pointer;
}
.imglink-title{
    color:#222222;
}
.imglink-title:hover,
.imglink-title:focus,
.imglink-title:active{
    color:#3973e6;
    text-decoration:underline;
    text-decoration-color:#3973e6;
}
/*  */
/* social_network_list */
.social_network_list a{
    color:#bfbfbf;
}
/*  */

/*  module-main-page  */
.module-material-item{
    background-color:#ebedf2;
}
.module-material-item:hover{
    background-color:#3973e6;
    color:#fff;
}

.module-material-item:hover a{color:#fff;text-decoration:underline;}
.module-material-item:hover div{color:#fff;}
.module-material-item:hover:after{
    border-bottom: 10px solid rgb(31, 71, 153);
}
/*  */