<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>Вход</h1>

    <div class="page-text">
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-sm-7">
                <div class="shadow-block login-form">
                    <div>
                        <form id="loginForm" method="post">
                            @Html.AntiForgeryToken()
                            @Html.TextBox("Login", "", new { title = "E-Mail или Номер телефона",  @placeholder = "mail@domain" })
                            @Html.Password("Pass", "", new { title = "Пароль", @placeholder = "password" })
                        </form>
                        @Html.ValidationSummary(false, "", new { @class = "" })
                        <div class="login-btn_block">
                            <button type="submit" form="loginForm" class="button btn-blue">Войти</button>
                            <a href="/user/reg" class="button btn-invers to-right">Регистрация</a>
                        </div>
                        <div class="restore-pass"><a href="/user/RestorePass">Забыли пароль?</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="login-socseti">
                    <div class="title">Войти через <br/> социальные сети</div>
                    <div class="description">Вы можете войти в личный кабинет в один клик, через свой профиль в социальной сети.</div>
                    <div class="socseti-btn">
                        <a href="/user/login_vk"><span class="login-vk"></span></a>
                        <a href="/user/login_facebook"><span class="login-fb"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="/Content/plugins/bootstrap/js/bootstrap-toggle.js"></script>
    <script src="/Content/plugins/Disly/DislyControls.js"></script>
}