<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>Вход</h1>

    <div class="page-text">
        <p>&nbsp;</p>
        @Html.Raw(ViewBag.Result)
    </div>
</div>
