
<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>Изменение пароля</h1>

    <div class="page-text">
        <div class="shadow-block">
            <h3>Ваш пароль успешно изменен.</h3>
            <p>Пароль успешно изменен и доступ к личному кабинету востановлен.</p>
            <p>Чтобы продолжить работу, перейдите на <a href="/user/login">форму авторизации</a>.</p>
        </div>
    </div>
</div>