
<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>Изменение пароля</h1>

    <div class="page-text">
        @if (User.Identity.IsAuthenticated)
    {
        <p>Добро пожаловать в Ваш личный кабинет!</p>
        <p>Здесь Вы сможете просмотреть историю своих заказов и изменить личные данные.</p>
        <p>&nbsp;</p>
        <div class="lk-tabs">
            <a href="/user/orders/">Истории заказов</a><a href="/user/">Личные данные</a><a href="/user/password" class="active">Изменить пароль</a>
        </div>
        <h3>Ваш пароль успешно изменен.</h3>
}
else
{
    <div class="shadow-block">
        <h3>Ваш пароль успешно изменен.</h3>
        <p>Пароль успешно изменен и доступ к личному кабинету востановлен.</p>
        <p>Чтобы продолжить работу, перейдите на <a href="/user/login">форму авторизации</a>.</p>
    </div>
}

    </div>
</div>