
<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>Восстановление пароля</h1>

    <div class="page-text">
        <div class="shadow-block">
            <p>На указанный адрес электронной почты отправлено сообщение со специальной ссылкой для восстановления пароля. </p>
            <p>При переходе по этой ссылке, вам будет представлена форма, где вы сможете ввести новый пароль для вашего пользователя. </p>
            <p>Если у вас нет доступа к электронной почте пользователя или если по какой-либо причине письмо вам не приходит, обратитесь к администратору.</p>
        </div>
    </div>
</div>