@model OrdersViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>История заказов</h1>
    <div class="page-text">
        <p>Добро пожаловать в Ваш личный кабинет!</p>
        <p>Здесь Вы сможете просмотреть историю своих заказов и изменить личные данные.</p>
        <p>&nbsp;</p>
        <div class="lk-tabs">
            <a href="/user/orders/" class="active">Истории заказов</a><a href="/user/">Личные данные</a>
        </div>
        @if (Model.List != null)
        {
            if (Model.List.Orders.Any())
            {
                <div>
                    @foreach (OrderModel item in Model.List.Orders)
                    {
                        <div>Заказ №@item.Num.ToString() на сумму @item.Total.ToString("# ###.00#") р.</div>
                    }
                </div>
            }
            else
            {
                <div> Нет данных </div>
            }

            Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager, inputSize = false });
        }
        else
        {
            <div>Нет данных</div>
        }
    </div>
</div>