@model OrdersViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>История заказов</h1>
    <div class="page-text">
        <p>Добро пожаловать в Ваш личный кабинет!</p>
        <p>Здесь Вы сможете просмотреть историю своих заказов и изменить личные данные.</p>
        <p>&nbsp;</p>
        <div class="lk-tabs">
            <a href="/user/orders/" class="active">Истории заказов</a><a href="/user/">Личные данные</a><a href="/user/password">Изменить пароль</a>
        </div>
        @if (Model.List != null)
        {
            if (Model.List.Orders.Any())
            {
        <div>
            <div class="order-list_title">
                <div class="order-item_link">№ заказа</div>
                <div class="order-item_date">дата оформления</div>
                <div class="order-item_sum">сумма</div>
            </div>
            @foreach (OrderModel item in Model.List.Orders)
    {
        <div class="order-item">
            <div class="order-item_link">
                <a href="/user/order/@item.Id/">@item.Num.ToString()</a>
            </div>
            <div class="order-item_date">@item.Date.ToString("dd.MM.yyyy")</div>
            <div class="order-item_sum">@item.Total.ToString("# ###.00#") руб.</div>
        </div>
}
        </div>
            }
            else
            {
                <div> Нет данных </div>
            }

            Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager, inputSize = false });
        }
        else
        {
            <div>Нет данных</div>
        }
    </div>
</div>