

<div class="type-page">

    @Html.Partial("services/breadcrumbs")
    <h1>Регистрация</h1>
    <div class="page-text">
        <div class="shadow-block">
            <h3>Регистрация прошла успешно.</h3>
            <p>Для подтверждения адреса электронной почты и активации вашего аккаунта, на Вашу почту отправлено сообщение.</p>
            <p>Пожалуйста, следуйте указаниям в письме и Ваша учетная запись будет активирована.</p>
            <p>Благодарим Вас за регистрацию на сайте.</p>
        </div>
    </div>
</div>