@model HomePageViewModel


<div class="slider">
    <div class="wrapper">
        <ul id="sb-slider" class="sb-slider">
            <li>
                <a href="/" target="_blank"><img src="/Content/img/slide1.jpg" alt="image1" /></a>
                <div class="sb-description">
                    На нашем сайте вы можете приобрести детские игрушки оптом.
                    <span>Всегда в наличии мягкие игрушки, металлические машинки, куклы, развивающие игрушки и другие детские товары.</span>
                </div>
            </li>
            <li>
                <a href="/" target="_blank"><img src="/Content/img/slide1.jpg" alt="image1" /></a>
                <div class="sb-description">
                    На нашем сайте вы можете приобрести детские игрушки оптом.
                    <span>Всегда в наличии мягкие игрушки, металлические машинки, куклы, развивающие игрушки и другие детские товары.</span>
                </div>
            </li>
        </ul>
        <div id="shadow" class="shadow"></div>
    </div>
</div>
